.chat-head {
  position:fixed;
  width:100%;
  z-index: 5;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #aaaaaa;
  background-color: #dddddd;
}
.chat-content{
  max-height: 500px;
  padding-top:60px;
  padding-bottom: 40px;
  overflow-y: auto;
  padding-left: 10px;
  .chat-thread {
    margin: 24px auto 0 auto;
    padding: 0 18px 0 0;
    list-style: none;
    .head-left {
      float: left;
      display: inline-block;
    }
    .content-left {
      position: relative;
      float: left;
      display: inline-block;
      padding: 6px 40px 6px 20px;
      margin: 0 0 20px 10px;
      font: 16px/20px 'Noto Sans', sans-serif;
      background-color: white;
      border: 1px solid white;
      border-radius: 5px;
    }
    .content-left:before {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 10px;
      left: -5px;
      transform: rotate(45deg);
      background-color: white;
      border: 1px white;
      border-style: solid solid none none;
    }
    .head-right {
      float: right;
      display: inline-block;
    }
    .content-right {
      position: relative;
      float: right;
      display: inline-block;
      padding: 6px 40px 6px 20px;
      margin: 0 10px 20px 0;
      font: 16px/20px 'Noto Sans', sans-serif;
      background-color: #a0d911;
      border: 1px solid #a0d911;
      border-radius: 5px;
    }

    .content-right:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 10px;
      right: -5px;
      transform: rotate(45deg);
      background-color: #a0d911;
      border: 1px #a0d911;
      border-style: solid solid none none;
    }

    .time {
      clear: both;
      text-align: center;
      font-size: 6px;
    }
  }
}

.chat-input {
  position: fixed;
  z-index: 5;
  height: 40px;
  background-color: white;
  width: 100%;
  bottom: 48px;
  .input {
    display: inline-block;
    width: 80%;
  }
  /*.quick-send {
    cursor: pointer;
    display: inline-block;
    padding:0 5px;
  }*/
  .btn {
    width: 20%;
    padding:0 5px;
    display: inline-block;
  }
}




