.header {
  background-color: #F2F2F0;
  min-height: 300px;
}
.content {
  background: #fff;
  min-height:660px;
}
.footer {
  padding-bottom: 0;
  text-align: center;
}
.menu {
  font-size: 30px;
  padding-bottom: 0;
}

/*菜单栏右上角数字样式*/
sup{
  background: red;
  color: white;
  border-radius: 20px; /*圆角*/
  padding: 0px 6px; /*左右边距*/
  top: -1em; /*数字离图片右上角的高度*/
  left:-1em;
}

